.navbar .navbar-brand {
  text-align: center;
}

.navbar .dropdown-menu {
  background-color: #007bff;
}

.navbar .dropdown-item {
  color: white;
}

.navbar .dropdown-item:hover {
  background-color: #0056b3;
}

table {
  background-color: #f8f9fa; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: center; 
  padding: 10px; 
}

thead {
  background-color: #007bff;
  color: white; 
}

